Removing property when set to null

Hello,

I am using JsonMergePatch in combination with Newtonsoft.Json and have come across a scenario where I need to remove an already set property from a DTO. According to [Section 3 of RFC7396](https://tools.ietf.org/html/rfc7396#section-3), this should be possible by setting the property to null in the JSON merge patch.

Here is a simplified version of the code I am using for patching the object, where `MyClass` is the DTO. Note that I cannot change the DTO JSON serialization attributes, since the DTO is generated based on an OpenAPI specification that is a given in my project.

```csharp
using Newtonsoft.Json;

namespace Sample 
{
    public class MyClass 
    {
        [JsonProperty("attributes", Required = Required.DisallowNull, NullValueHandling = NullValueHandling.Ignore)]
        public virtual MyAttributes Attributes { get; set; }
    }

    public class MyAttributes 
    {
        [JsonProperty("name", Required = Required.DisallowNull, NullValueHandling = NullValueHandling.Ignore)]
        public virtual string Name { get; set; }
    }

    public class MyClassExtensions
    {
        public static MyClass Update(this MyClass myObj, string jsonPatch) {
            var jsonMergePatch = Morcatko.AspNetCore.JsonMergePatch.NewtonsoftJson.Builders.PatchBuilder.Build<MyClass>(jsonPatch);
            return jsonMergePatch.ApplyTo(myObj);
        }
    }
}
```
First, I create an empty MyClass instance, with the Attributes property left to null. This will be correctly serialized and de-serialized from the empty JSON object, `{ }`.

Next, I set the Attributes property to a non-null value. Everything still works as expected, the JSON equivalent now contains the "attributes" property and value. 

Last, I attempt to unset Attributes from the MyClass instance, by calling the `Update` extension method on it and providing the JSON patch `{ "attributes": null }` as argument. At this moment I receive the following exception when invoking the `PatchBuilder.Build<>` method:

> Newtonsoft.Json.JsonSerializationException : Required property 'attributes' expects a non-null value.  

This error dissapears when setting Required = Required.AllowNull on the Attributes property, but as mentioned before, the DTO code is auto-generated and I cannot change it.

How can I apply a patch that sets the Attributes property back to null in the MyClass instance and removes the "attributes" key from the resulting JSON object (basically reverting the instance to the initial state)?

Thank you,
Mihai

**UPDATE**

I have tried to create a custom contract resolver as described [here](https://github.com/RicoSuter/NSwag/issues/1991#issuecomment-518600843) and use it to create a custom `JsonSerializerSettings` passed as argument to the `PatchBuilder.Build<T>` method as shown below.

```csharp
namespace Sample 
{
    // ...
    class SafeContractResolver : DefaultContractResolver
    {
        protected override JsonProperty CreateProperty(MemberInfo member, MemberSerialization memberSerialization)
        {
            var jsonProp = base.CreateProperty(member, memberSerialization);
            if (jsonProp.Required == Required.DisallowNull)
                jsonProp.Required = Required.AllowNull;
            return jsonProp;
        }
    }

    // ...
    public class MyClassExtensions
    {
        public static MyClass Update(this MyClass myObj, string jsonPatch) {
            var jsonMergePatch = Morcatko.AspNetCore.JsonMergePatch.NewtonsoftJson.Builders.PatchBuilder.Build<MyClass>(
                jsonPatch,
                new JsonSerializerSettings() { 
                    NullValueHandling = NullValueHandling.Ignore,
                    ContractResolver = new SafeContractResolver() 
                },
                new JsonMergePatchOptions() { EnableDelete = true });
            return jsonMergePatch.ApplyTo(myObj);
    }
}
```

However, looking at the `PatchBuilder.cs` [code](https://github.com/Morcatko/Morcatko.AspNetCore.JsonMergePatch/blob/master/src/3.0-JsonMergePatch.NewtonsoftJson/Builders/PatchBuilder.cs), the custom serializer settings are not passed further to the internal `CreatePatchDocument` method, which receives an internally built default `JsonSerializer` instance instead. 

If provided as argument, shouldn't the custom serializer settings be used when creating the patch document too?

Thanks,
Mihai

**UPDATE 2**

To test the above, I have cloned the repo and modified the `Morcatko.AspNetCore.JsonMergePatch.NewtonsoftJson.Builders.PatchBuilder` class by adding a new static method called `CustomBuild`:

```csharp
namespace Morcatko.AspNetCore.JsonMergePatch.NewtonsoftJson.Builders
{
        // ...
        public static class PatchBuilder
	{
                // ...
		public static JsonMergePatchDocument<TModel> CustomBuild<TModel>(string jsonObjectPatch, JsonSerializerSettings serializerSettings = null, JsonMergePatchOptions options = null) where TModel : class
			=> CreatePatchDocument<TModel>(
				JsonConvert.DeserializeObject<JObject>(jsonObjectPatch, serializerSettings),
				serializerSettings != null ? JsonSerializer.Create(serializerSettings) : defaultSerializer,
				options ?? new JsonMergePatchOptions()
			);
                // ...
        }
}
```

By calling the new method and using the custom JSON contract resolver, the app behaves as expected. I have also wrote the following unit test for it.

```csharp
using System.Reflection;
using Morcatko.AspNetCore.JsonMergePatch.NewtonsoftJson.Builders;
using Newtonsoft.Json;
using Newtonsoft.Json.Serialization;
using Xunit;

namespace Morcatko.AspNetCore.JsonMergePatch.Tests.NewtonsoftJson.Patching {
    public class MyClass 
    {
        [JsonProperty("attributes", Required = Required.DisallowNull, NullValueHandling = NullValueHandling.Ignore)]
        public virtual MyAttributes Attributes { get; set; }
    }

    public class MyAttributes 
    {
        [JsonProperty("name", Required = Required.DisallowNull, NullValueHandling = NullValueHandling.Ignore)]
        public virtual string Name { get; set; }
    }

    public static class MyClassExtensions
    {
        public static MyClass Update(this MyClass myObj, string jsonPatch) {
            var jsonMergePatch = Morcatko.AspNetCore.JsonMergePatch.NewtonsoftJson.Builders.PatchBuilder.Build<MyClass>(jsonPatch);
            return jsonMergePatch.ApplyTo(myObj);
        }
    }

    class DisallowNullContractResolver : DefaultContractResolver
    {
        protected override JsonProperty CreateProperty(MemberInfo member, MemberSerialization memberSerialization)
        {
            var jsonProp = base.CreateProperty(member, memberSerialization);
            if (jsonProp.Required == Required.DisallowNull)
                jsonProp.Required = Required.AllowNull;
            return jsonProp;
        }
    }    

    public class PropertyRemovalTest {
        [Fact]
        public void PropertyRemovalDoesNotWork() {
            var myObj = new MyClass() {
                Attributes = new MyAttributes() {
                    Name = "Test"
                }
            };

            var jsonPatch = @"{
                ""attributes"": null
            }";

            Assert.Throws<JsonSerializationException>(() => {
                var jsonMergePatch = PatchBuilder.Build<MyClass>(
                    jsonPatch,
                    new JsonSerializerSettings() { ContractResolver = new DisallowNullContractResolver() },
                    new JsonMergePatchOptions() { EnableDelete = true });

                jsonMergePatch.ApplyTo(myObj);
            });
        }            
        

        [Fact]
        public void PropertyRemovalShouldWork() {
            var myObj = new MyClass() {
                Attributes = new MyAttributes() {
                    Name = "Test"
                }
            };

            var jsonPatch = @"{
                ""attributes"": null
            }";

            var jsonMergePatch = PatchBuilder.CustomBuild<MyClass>(
                jsonPatch,
                new JsonSerializerSettings() { ContractResolver = new DisallowNullContractResolver() },
                new JsonMergePatchOptions() { EnableDelete = true });
            jsonMergePatch.ApplyTo(myObj);

            Assert.Null(myObj.Attributes);            
        }
    }
}
```

Can you please let me know if it's OK with you to integrate this change into a new release, by updating the implementation of the original `PatchBuilder.Build<TModel>(string jsonObjectPatch, JsonSerializerSettings serializerSettings = null, JsonMergePatchOptions options = null)` method?

Thanks,
Mihai

Hey,
thanks for great research. It looks really good.
Could you please prepare PR and I will make a new nuget once it is merge.
Fixing it in v3 only is fine as v2 is not supported anymore

Thank you, I will look into preparing the PR. Is there a hard deadline for V3? 

Released in v 3.0.2